
/.direnv
/.zig-cache
/.cache
/blender/.venv
/compile_commands.json
/zig-out
/tmp
/images
/imgui.ini
/screenshots/*.png
/steam_appid.txt
__pycache__

/assets
/blender/components.json
/blender/exports
/notes.md
